#banner.jumbotron
  .container
    %h1 note-It
    %p Keep notes and you never forget an idea!
    %p= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg'
#testimonial
  .wrapper
    %p.quote "The greatest notebook application."
    %p.name - Aris Liberopoulos


